<h1>Minesweeper Redemption</h1>
<main>
  <div>
    <minesweeper-board
      [board]="appBoard"
      (gameOverMan)="endGame()"
    ></minesweeper-board>
  </div>
  <div>
    <div>
      Choose a grid size:
      <button type="button" (click)="setBoardSize(20, 10)">20 x 10</button>
      <button type="button" (click)="setBoardSize(3, 3)">3 x 3</button>
      <button type="button" (click)="setBoardSize(10, 20)">10 x 20</button>
      <button type="button" (click)="setBoardSize(5, 5)">5 x 5</button>
    </div>
  </div>
</main>
