<h1>Minesweeper Redemption</h1>
<main>
  <div>
    <minesweeper-board
      [board]="appBoard"
      (gameOverMan)="endGame()"
      (youWin)="winGame()"
    ></minesweeper-board>
  </div>
  <div>
    <div>
      Choose a grid size:
      <button type="button" (click)="setBoardSize(3, 3)">3 x 3</button>
      <button type="button" (click)="setBoardSize(5, 5)">5 x 5</button>
      <button type="button" (click)="setBoardSize(10, 10)">10 x 10</button>
      <button type="button" (click)="setBoardSize(20, 20)">20 x 20</button>
      <hr />
      <div>
        # Mines: <span>{{ numMines }}</span>
      </div>
      <hr />
      <div *ngIf="gameWon">
        <h1 class="won">You won it!</h1>
      </div>
      <div *ngIf="gameLost">
        <h1 class="lost">Game over man! Game over!</h1>
      </div>
    </div>
  </div>
</main>
